.rotate {
  transform: rotate(45deg);
}

.unClicked {
  /* transform: rotate(45deg); */
  color: grey;
}

.MuiButton-containedSecondary {
  background-color: darkblue !important;
  border-color: darkblue !important;
}

.MuiCard-root.cardClicked {
  border: 2px solid #388e3c !important;
  background-color: #DCEDC8 !important;
}

.MuiCard-root {
  border: 1px solid darkgray !important;
}

.MuiFormControlLabel-label {
  font-size: 12px !important;
}

.MuiTooltip-tooltip	{
  font-size: 14px !important;
}

.classCardButton {
  width: 100%;
  align-self: center;
}