.rotate {
  transform: rotate(45deg);
}

.unClicked {
  /* transform: rotate(45deg); */
  color: grey;
}

.MuiButton-containedSecondary {
  background-color: darkblue !important;
  border-color: darkblue !important;
}

.MuiCard-root.cardClicked {
  border: 2px solid #388e3c !important;
  background-color: #DCEDC8 !important;
}

.MuiCard-root {
  border: 1px solid darkgray !important;
}

.MuiFormControlLabel-label {
  font-size: 12px !important;
}

.MuiTooltip-tooltip	{
  font-size: 14px !important;
}

.classCardButton {
  width: 100%;
  align-self: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerBox{
  width: 100% !important;
}

.timeBox {
  padding-right: 5px;
}

.nameBox {
  font-weight: bold;
}

.capacityBox {
  justify-content: flex-end;
}
