.App {
  text-align: center;
  background-color: white;
}

.MuiAppBar-root	 {
  background-color: #1976d2 !important;
  z-index: 1400 !important;
  position: absolute;
}

.MuiTypography-h2 {
  font-family: BebasNeue !important;
  font-size: 4rem;
  margin: 10px;
  text-align: center !important;
  margin-top: 15px !important;
  flex-grow: 1;
  align-self: center !important;
  margin-left:251.73px !important;
}

.MuiButton-outlinedPrimary{
  border-color: white !important;
  color: white !important;
}

.textBlurb{
  /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 15px!important;
  padding-left: 50px;
  padding-right: 50px;
}

.helpIcon {
  color: white !important;
}


@font-face {
  font-family: BebasNeue;
  src: local('BebasNeue'), 
    url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}

.closeIcon {
  color: gray !important;
  position: absolute !important;
  right: 5px;
  top: 5px;
}