.subItem{
  padding-left: 32px !important;
}

.dialogContentWrapper{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 15px;
  align-content: center;
  justify-content: left;
}

.MuiButton-outlinedSecondary{
  border-color:  #1976d2 !important;
  color: #1976d2 !important;
  margin-right: 5px !important;
}

.MuiListItemText-primary{
  font-weight: bold !important;
}

.MuiListItemText-secondary{
  color:black !important;
}

.bottomPadding{
  padding-bottom: 25px;
}

.buttons{
  margin-left: auto;
  margin-right: 0;
  padding: 5px;
}