.subItem{
  padding-left: 32px !important;
}

.dialogContentWrapper{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 72px;
  align-content: center;
  justify-content: center;
}

.MuiButton-outlined	.blueButton{
  border-color:  #1976d2 !important;
  color: #1976d2 !important;
}

.MuiListItemText-primary{
  font-weight: bold !important;
}

.MuiListItemText-secondary{
  color:black !important;
}